{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>
       

        <!-- Start Home -->
        <section class="bg-half-170 d-table w-100" style="background: url('/static/images/bg/01.jpg') bottom;">
            <div class="bg-overlay bg-gradient-overlay-2"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-12">
                        <div class="title-heading text-center">
                            <h5 class="heading fw-semibold sub-heading text-white title-dark">Meet GemmaArt</h5>
                            <p class="text-white-50 para-desc mx-auto mb-0">NFT marketplace where anything is possible and all are welcome</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

             
            </div><!--end container-->
        </section><!--end section-->
        <div class="position-relative">            
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!-- End Home -->

        <!-- Start Section -->
        <section class="section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-image position-relative">
                            <img src="images/about.jpg" class="img-fluid rounded shadow" alt="">
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-7 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                        <div class="section-title ms-lg-5">
                            <h6 class="text-primary fw-normal">Creative Vision & Mission</h6>
                            <h4 class="title mb-4">We develop & create <br> digital art.</h4>
                            <p class="text-muted">At GemmaArt, we're excited about a brand new type of digital good called a non-fungible token, or NFT. NFTs have exciting new properties: they’re unique, provably scarce, tradeable, and usable across multiple applications. Just like physical goods, you can do whatever you want with them! You could throw them in the trash, gift them to a friend across the world, or go sell them on an open marketplace. But unlike physical goods, they're armed with all the programmability of digital goods.</p>
                            <p class="text-muted mb-0">A core part of our vision is that open protocols like Ethereum and interoperable standards like ERC-721 and ERC-1155 will enable vibrant new economies. We're building tools that allow consumers to trade their items freely, creators to launch new digital works, and developers to build rich, integrated marketplaces for their digital items.</p>
                        
                            <div class="mt-4 pt-2">
                                <a href="javascript:void(0)" class="btn btn-primary rounded-md">Read More <i class="uil uil-arrow-right"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <div class="counter-box position-relative text-center">
                                    <h4 class="mb-0 display-5 fw-bold title-dark mt-2">$<span class="counter-value" data-target="40">3</span>M</h4>
                                    <span class="counter-head fw-semibold text-muted title-dark">Trading volume</span>
                                </div><!--end counter box-->
                            </div><!--end col-->
        
                            <div class="col-md-4 col-6">
                                <div class="counter-box position-relative text-center">
                                    <h4 class="mb-0 display-5 fw-bold title-dark mt-2"><span class="counter-value" data-target="200">1</span></h4>
                                    <span class="counter-head fw-semibold text-muted title-dark">NFTs created</span>
                                </div><!--end counter box-->
                            </div><!--end col-->
        
                            <div class="col-md-4 col-6">
                                <div class="counter-box position-relative text-center">
                                    <h4 class="mb-0 display-5 fw-bold title-dark mt-2"><span class="counter-value" data-target="234">100</span>K</h4>
                                    <span class="counter-head fw-semibold text-muted title-dark">Total users</span>
                                </div><!--end counter box-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-4">Our Team</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">We are a huge marketplace dedicated to connecting great artists of all GemmaArt with their fans and unique token collectors!</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/01.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Calvin Carlo</a>
                                <small class="text-muted mb-0 fw-normal">Entrepreneur & Investor</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/02.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Aliana Rosy</a>
                                <small class="text-muted mb-0 fw-normal">Partner at Electric Capital</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/08.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Micheal Carlo</a>
                                <small class="text-muted mb-0 fw-normal">Co-founder of Scalar Capital</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/03.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Sofia Razaq</a>
                                <small class="text-muted mb-0 fw-normal">Designer</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/04.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Jack John</a>
                                <small class="text-muted mb-0 fw-normal">Entrepreneur & Author</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/05.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Krista John</a>
                                <small class="text-muted mb-0 fw-normal">American DJ & Producer

                                </small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/06.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Roger Jackson</a>
                                <small class="text-muted mb-0 fw-normal">Designer</small>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2">
                        <div class="card team team-primary text-center">
                            <div class="card-img team-image d-inline-block mx-auto rounded-pill shadow avatar avatar-ex-large overflow-hidden">
                                <img src="/static/images/client/07.jpg" class="img-fluid" alt="">
                                <div class="card-overlay avatar avatar-ex-large rounded-pill"></div>

                                <ul class="list-unstyled team-social mb-0">
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="btn btn-sm btn-pills btn-icon"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>

                            <div class="content mt-3">
                                <a href="#" class="text-dark h6 mb-0 title d-block">Johnny English</a>
                                <small class="text-muted mb-0 fw-normal">Entrepreneur & Author</small>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

         
        </section><!--end section-->
        <!-- End Section -->

        <!-- Footer Start -->
   
        
    </body>
{% endblock content %}